
<div class=container>
  <div class="row mt-5">
    <div class="col-4">

        <%= render '/markers/form', marker: @marker %>
      <div id="new_marker">
        
      </div>

      <hr>

    </div>
    <div class="col-8">

      <%= render 'table' %>
    </div>
  </div>
</div>

